{% extends 'base.html.twig' %}

{% block body %}
    <div class="container-fluid max-width">
        <p>Use the text box below to search for names, these will appear in rank order for each year on the graph</p>
        <div id="root"></div>
    </div>
{% endblock %}