{% extends 'base.html.twig' %}

{% block body %}
    <div class="container-fluid max-width">
        <div class="row">
            <div class="col-12">
                {{ dump(name) }}
            </div>
        </div>
    </div>
{% endblock %}

