{% extends 'base.html.twig' %}

{% block body %}
<div class="container-fluid max-width">

    {% for gender,years in top %}
        <div class="row">
            <div class="col-12">
                <h3 class="mt-3">Top 10 {{ gender == 'm' ? 'Male' : 'Female' }} names</h3>
            </div>
        </div>
        <div class="row">
            {% for year,names in years %}
                <div class="col-12 col-md-3">
                    <h4 class="mt-3">{{ year }}</h4>
                    {% include 'partial/name-table.html.twig' %}
                </div>
            {% endfor %}
        </div>
    {% endfor %}

</div>
{% endblock %}